body {
    background: #535353;
    font-family: 'Cinzel', serif;
}

.title {
    color: #FFFFFF;
}

.my-container{
    position: relative;
    display: inline-block;
}

.quote-box {
    font-size: 1.1em;
    background: rgba(228, 228, 228, 0.65);
    padding: 10px;
    z-index: 1;
}

.img-holder {
    position: relative;
    display: inline-block;
}

.tweet-button {
    position: absolute;
    bottom: 55%;
    left: 10%;
    width: 6%;
    height: 6%;
}

@media screen and (min-width: 768px) {
    .quote-box {
        border-left: 4px solid #535353;
        position: absolute;
        top:25%;
        left:70%;
    }
    .tweet-button {
        top:39%;
        left:10%;
    }
}

.footer-text {
    color: #B9B8B8;
}

